
<div class="container" style="margin-top:20px; margin-bottom:60px;">
    <div class="user-details" style="margin-bottom:60px;">
        <h3>Presentations</h3>
    </div>
    <div class="row user-projects">
        <div class="six columns">
            <iframe width="450" height="253" src="https://www.youtube.com/embed/gWBIMD73A-Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="six columns">
            <h5>UCSD Calit2 Summer Internship 2011</h5>
            <li>Django, Python, HTML/CSS, pyConText</li>
            <p><b>Twisted ConText NLP</b> - In the summer between high school and college, this presentation was made at the end of my internship with the San Diego Super Computer Center. </p>
        </div>
      </div>
</div>
