<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Delivery Time Guru" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" src="{{ "/assets/img/dtg.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Delivery Time Guru (Shopify App)</h5>
      <ul>
        <li>Node.js (w/ Express and Koa.js microservices), React SSR w/ Next.js, Shopify Polaris, jQuery, Google Cloud Platform (Cloud Run, Storage, App Engine, Task Queues)</li>
      </ul>
      <p>Provide customers with real-time accurate delivery dates from major shipping carriers. Customer real-time delivery date countdown—"Get it by Dec. 25"</p>
      <a class="project-link" href="https://apps.shopify.com/delivery-time-guru">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="orgpoint" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" src="{{ "/assets/img/orgpoint-shot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Orgpoint</h5>
      <li>Ruby on Rails, Foundation, HTML/CSS, Heroku, Cloudflare</li>
      <p>OrgPoint connects the workforce. It's a social platform tied into a directory. When a new employee joins the company
      let everyone know. When sales have been surpassed for the 3rd quarter in a row make an celebratory announcement.
      Learn more about your coworkers from their personal profiles.</p>
      <a class="project-link" href="http://www.orgpoint.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Classrecon" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" src="{{ "/assets/img/classrecon-shot.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Classrecon</h5>
      <ul>
        <li>PHP & MySQL, HTML/CSS</li>
      </ul>
      <p>From Elementary, Middle, to High school, rate your teacher. First of a kind teacher rating website for non professors.</p>
      <a class="project-link" href="http://www.classrecon.com">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <h5>Lucy</h5>
      <li>Angular2, Flask, Bootstrap, HTML/CSS, JIRA API, Across API</li>
      <p>An internal tool built for Avira that allows the marketing team to translate advertisements into multiple
      languages. Interfaces JIRA and Across into internal tool to streamline the pipeline for document translations.</p>
      <a class="project-link" href="">Unavailable</a>
    </div>
    <div class="six columns">
      <img alt="Spuzik" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" src="{{ "/assets/img/nda.png" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Spuzik" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" src="{{ "/assets/img/spuzik_homepage.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Spuzik</h5>
      <ul>
        <li>Backbone.js, AWS (EC2, S3, DynamoDB), PHP & MySQL, HTML/CSS</li>
      </ul>
      <p>A sports and music social network. Was integrated with Grooveshark with millions of songs free to listen to.
        Users could post photos/videos and discuss anything sports.</p>
      <a class="project-link" href="">Unavailable</a>
    </div>
  </div>
</div>
