<div class="container" style="margin-top:20px; margin-bottom:60px;">
    <div class="user-details" style="margin-bottom:60px;">
        <h3>Publications</h3>
    </div>
    <div class="row user-projects" style="margin: 0 auto; width:50%;">
        <img alt="Professional Node.js" style="width:150px; float:left;" src="{{ "/assets/img/p_nodejs.png" | prepend: site.baseurl }}" />
        <div>
            <h5>Professional Node.js</h5>
            <h6>Oct. 29, 2018 &middot; Packt Publishing</h6>
            <a class="project-link" style="display: inline; padding: 8px;" href="https://www.packtpub.com/web-development/professional-nodejs">Check it out</a>
        </div>
    </div>
</div>
