<!DOCTYPE html>
<html lang="en">
    {% include post/head.html %}
    <body>
        <style type="text/css">
            body {
                padding: 0;
                margin: 0;
            }
        </style>
        <div style="background-color:#1a222c;">
            {% include post/navigation.html %}
        </div>
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="three columns">
                    {% include post/sidebar-nav.html %}
                </div>
                <div class="nine columns">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include post/footer.html %}
    </body>
</html>